<footer>
  <div class="container-fluid background-indigo-900">
    <div class="container pt-5 text-white">
      <div class="row pt-2 pb-4 justify-content-between">
        <div class="col-12 col-lg-4 col-md-12 mb-3">
          <div class="small mb-4 mb-lg-3">
            <a href="{{ site.baseurl }}">
              <img
                src="{{ site.baseurl }}/assets/images/logos/logo-white.svg"
                width="180px"
              />
            </a>
          </div>
          <p class="size-14 text-white mb-3">{{ site.description }}</p>
        </div>

        <div class="col-4 col-lg-auto col-md-auto col-sm-auto mb-3">
          <div class="small">
            <div class="mb-2 size-16 weight-700">
              <a class="text-white" href="{{ site.baseurl }}/manual"
                ><span>Manual</span></a
              >
            </div>
            <div class="mb-2 size-16 weight-700">
              <a class="text-white" href="{{ site.baseurl }}/news"
                ><span>News</span></a
              >
            </div>
            <div class="mb-2 size-16 weight-700">
              <a class="text-white" href="{{ site.baseurl }}/publications"
                ><span>Publications</span></a
              >
            </div>
            <div class="mb-2 size-16 weight-700">
              <a class="text-white" href="{{ site.baseurl }}/impressum"
                ><span>Impressum</span></a
              >
            </div>
          </div>
          {% if site.twitter_username %}
          <p>
            <a
              class="text-white"
              href="https://twitter.com/{{ site.twitter_username }}"
              target="_blank"
              rel="noopener"
              ><i class="fab fa-twitter mr-1"></i>Twitter</a
            >
          </p>
          {% endif %} {% if site.github_username %}
          <p>
            <a
              class="text-white"
              href="https://github.com/{{ site.github_username }}"
              target="_blank"
              rel="noopener"
              ><i class="fab fa-github mr-1"></i
            ></a>
          </p>
          {% endif %}
        </div>

        <div class="col-4 col-lg-auto col-md-auto col-sm-auto mb-3">
          <div class="small">
            <div class="mb-2 size-16 weight-700">
              <a
                class="text-white"
                href="{{ site.baseurl }}/scaladoc/rescala/default$.html"
                ><span>Docs</span></a
              >
            </div>
            <div class="mb-2 size-16 weight-700">
              <a
                class="text-white"
                href="https://github.com/rescala-lang/REScala"
                target="_blank"
                rel="noopener"
                ><span>Repository</span></a
              >
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="small">
            <p class="size-14">
              Prof. Dr.-Ing. Mira Mezini<br />
              Technical University of Darmstadt<br />
              Software Technology Group
            </p>
            <p class="mb-0">
              <a
                class="text-white size-14"
                href="https://www.openstreetmap.org/way/23116340"
                target="_blank"
                rel="noopener"
                ><i class="fas fa-map-marker-alt pr-1"></i> S2|02 A222
                Hochschulstr. 10 / 64289 Darmstadt</a
              >
            </p>
            <p class="mb-0">
              <a class="text-white size-14" href="tel:00496151165306"
                ><i class="fas fa-phone pr-1"></i>+49 6151 16-5306
              </a>
            </p>
            <p class="mb-0">
              <a class="text-white size-14" href="tel:00496151165410"
                ><i class="fas fa-phone pr-1"></i>+49 6151 16-5410
              </a>
            </p>
            <p class="mb-4 mb-lg-0">
              <a
                class="text-white size-14"
                href="mailto:mezini@st.informatik.tu-darmstadt.de"
                ><i class="fas fa-envelope pr-1"></i
                >mezini@st.informatik.tu-darmstadt.de
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid background-indigo-800">
    <div class="container text-center py-2">
      <p class="text-white mb-0 size-14">
        REScala is available under the Apache 2 License.
        &copy; Copyright {{ 'now' | date: "%Y" }} The REScala Contributors
      </p>
    </div>
  </div>
</footer>
