<div class="container-fluid">
    <div class="container py-3">
        <div class="navbar navbar-expand-xl justify-content-between px-0">
            <div class="d-xl-none">
                <a class="navbar-toggler mr-1" href="" data-id="headers-4-sidebar-toggle">
                    <img src="{{ site.baseurl }}/assets/images/icons/burger.svg" />
                </a>
            </div>
            <div>
                <a href="/">
                    <img class="smallermobile" src="{{ site.baseurl }}/assets/images/logos/logo.svg" width="180px" />
                </a>
            </div>
            <div class="collapse navbar-collapse flex-grow-0 weight-500">
                <div class="navbar-nav align-items-center">
                    {% for link in site.data.navbar %}
                    {% unless link contains 'dropdown' %}
                    <div class="nav-item ml-5"><a class="nav-link text-slate"
                            href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></div>
                    {% endunless %}
                    {% if link.dropdown %}
                    <div class="nav-item ml-5 dropdown"><a href="{{ site.baseurl }}{{ link.url }}"
                            class="nav-link dropdown-toggle text-slate" id="navbarDropdown" role="button"
                            data-toggle="dropdown" data-hover="dropdown">{{ link.title }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for name in link.dropdown %}
                            <a class="dropdown-item" href="{{ site.baseurl }}{{ name.url }}">{{ name.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="ml-5">
                        <a class="pill-left" href="/scaladoc/rescala/default$.html">DOCS</a>
                        <a class="pill-right" href="https://github.com/rescala-lang/REScala" target="_blank"
                            rel="noopener">REPO</a>
                    </div>
                </div>
            </div>
            <div class="col-1 d-xl-none text-right px-0"></div>
        </div>
        <!-- <div class="navbar-side" id="headers-4-sidebar">
            <div
                class="navbar-side-content pl-4 py-4 pl-lg-5 ml-lg-3 pl-md-5 ml-md-3 d-flex flex-column justify-content-between">
                <div class="weight-700"><a class="navbar-side-close mb-2" href="" data-id="headers-4-sidebar-close"><img
                            src="{{ site.baseurl }}/assets/images/icons/close.svg" width="32" /></a>
                    <div class="navbar-nav">
                        {% for link in site.data.navbar %}
                        <div class="nav-item"><a class="nav-link color-green-900"
                                href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></div>
                        {% endfor %}
                        <p class="mt-4 mb-2">
                            {% if site.twitter_username %}<a class="mr-2 color-green-900"
                                href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener"><i
                                    class="fab fa-twitter"></i></a>{% endif %}
                            {% if site.github_username %}<a class="mr-2 color-green-900"
                                href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener"><i
                                    class="fab fa-github"></i></a>{% endif %}
                        </p>
                        <p class="small mb-3">
                            <span class="d-block d-xl-inline color-green-900 mb-1 mb-xl-0 mr-2">&copy;
                                {{ 'now' | date: "%Y" }} {{ site.title }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<script>
    $(function () {
        $('[data-id=headers-4-sidebar-toggle]').click(function (e) {
            e.preventDefault();
            $('#headers-4-sidebar').toggleClass('show');
        });
        $('[data-id=headers-4-sidebar-close]').click(function (e) {
            e.preventDefault();
            $('#headers-4-sidebar').removeClass('show');
        });
    });
</script>
<script>
    $('.navbar-nav .dropdown > a').click(function () {
        if (!$(this).hasClass("parent-clicked")) {
            $(this).addClass("parent-clicked");
        } else {
            location.href = this.href;
        }
    });

    $('.navbar-nav.nav-item > a').click(function () {
        if (!$(this).hasClass("parent-clicked")) {
            $(this).addClass("parent-clicked");
        } else {
            location.href = this.href;
        }
    });
</script>