<div class="inline-flex">
    <p class="size-14 color-gray-900 mb-0 mr-2">Share</p>
    <a aria-label="Share on Facebook"
        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | replace: '.html', '' }}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
        title="Share on Facebook">
        <i class="fab fa-facebook color-teal-600 size-20 mr-1"></i>
    </a>
    <a aria-label="Share on Twitter"
        href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url | replace: '.html', '' }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=350');return false;"
        title="Share on Twitter">
        <i class="fab fa-twitter size-20 color-teal-600 mr-1"></i>
    </a>
    <a aria-label="Share via email"
        href="mailto:?subject=I wanted you to see this&amp;body=Check out this article {{ site.url }}{{ page.url | replace: '.html', '' }} by {{ site.username }}"
        title="Share via email">
        <i class="fas fa-envelope size-20 color-teal-600"></i>
    </a>
</div>